.brands {
    display: none;

    @include media-tablet() {
        // outline: 4px dashed teal;
        @include indent();
        width: 100%;
        max-width: 100%;
        @include flex();
        flex-direction: column;
        margin-bottom: 60px;
    }

    @include media-desktop() {
      margin-bottom: 60px;
    }
}

.brands__inner-top {
    width: 100%;
    max-width: 100%;
    @include indent();
    @include flex();
    justify-content: space-between;
    margin-bottom: 20px;

    // outline: 2px dashed blue;
}

.brands__all-link {
  display: none;

  @include media-max() {
    margin-left: auto;
    display: block;
    color: $link-color;
    font-family: "Roboto Medium", Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    text-decoration: underline;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.8;
    }
  }
}

.brands__title {
  position: relative;
  display: block;
  text-decoration: none;
  color: #000000;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }
}

.brands__inner-bottom {
    @include indent();
    width: 100%;
    max-width: 100%;
   
    @include flex();
    // justify-content: center;
    align-items: center;

    // outline: 4px dashed red;

    @include media-desktop() {
      justify-content: center;
    }
}

.brands__img {
  // outline: 4px dashed blue;
  min-width: 641px;
  height: 52px;
  // width: 90%;
  // max-width: 90%;
  margin-left: 40px;

  @include media-desktop() {
    width: 885px;
    height: 52px;
    margin-left: 20px;
  }
}