.main-nav {
    font-size: 13px;
    line-height: 20px;

    width: 100%;
    max-width: 100%;

    // margin-right: auto;
    // margin-left: auto;

    min-height: 40px;

    color: #ffffff;
    background-color: #000000;

    @include indent();
    padding: 15px;
    @include flex();
    justify-content: center;
    align-items: center;
}

.main-nav__main-nav {
    justify-content: center;
    align-items: center;
}

.main-nav__btn {
  @include indent();
  color: #ffffff;
  background-color: #000000;
  border: none;
  box-shadow: 0 none;
  cursor: pointer;

  @include flex();

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }

  @include media-max() {
      // display: none;
  }
}

.main-nav__btn-icon {
  width: 32px;
  height: 15px;
  background-image: url("../../img/mobile/burger.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 10px;
}

.main-nav__list {
    display: none;

    @include media-max() {
        width: 100%;
        max-width: 100%;
        @include list();
        @include indent();
        // @include flex();
        justify-content: space-evenly;
        align-items: center;
    }
}

.main-nav__item {
    @include indent();
}

.main-nav__link {
    display: block;
    text-decoration: none;
    color: #ffffff;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.8;
    }
}