.main-nav {
    font-size: 13px;
    line-height: 20px;

    width: 100%;
    max-width: 100%;
    min-height: 40px;

    color: #ffffff;
    background-color: #000000;

    @include indent();
    padding: 15px;
    @include flex();
    justify-content: center;
    align-items: center;
}

.main-nav__main-nav {
    justify-content: center;
    align-items: center;
}

.main-nav__btn {
  @include indent();
  color: #ffffff;
  background-color: #000000;
  border: none;
  box-shadow: 0 none;
  cursor: pointer;

  margin-left: -25px;

  @include flex();

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }

  @include media-desktop() {
    margin-left: 0;
  }

  @include media-max() {
      display: none;
  }
}

.main-nav__btn-icon {
  width: 32px;
  height: 15px;
  background-image: url("../img/mobile/burger.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 10px;
}

.main-nav__list {
    display: none;

    @include media-max() {
        width: 100%;
        max-width: 100%;
        @include list();
        @include indent();
        @include flex();
        justify-content: space-between;
        align-items: center;
    }
}

.main-nav__item {
    @include indent();
}

.main-nav__link {
    display: block;
    text-decoration: none;
    color: #bdc3c5;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.8;
    }
}

.main-nav__link--cat,
.main-nav__link--about {
  position: relative;
  padding-right: 15px;

  &::after {
    content: "";
    position: absolute;
    top: 35%;
    left: 100%;
    width: 9px;
    height: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='8' viewBox='0 0 9 8'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23ff5816' d='M4.5 8L0 0h9L4.5 8'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
}