.numbers {
    display: none;

    @include media-tablet() {
        // outline: 4px dashed purple;
        @include indent();
        width: 100%;
        max-width: 100%;
        @include flex();
        // margin-bottom: 20px;
    }
}

.numbers__title {
    margin-bottom: 45px;
}

.numbers__list {
    @include indent();
    @include flex();
    justify-content: space-around;
    @include list();

    width: 100%;
    max-width: 100%;
}

.numbers__item {
    // width: 15%;
    // outline: 4px dashed purple;

    width: 150px;
    // height: 130px;

    @include indent();
    @include flex();
    flex-direction: column;
    align-items: center;

    margin-bottom: 10px;

    &:nth-child(odd) .numbers__icon {
        color: $brand-color;
    }

    @include media-desktop() {
        width: 130px;
    }
}

.numbers__list .numbers__item:nth-of-type(5),
.numbers__list .numbers__item:last-of-type {
    display: none;

    @include media-desktop() {
        @include flex();
    }
}

.numbers__icon {
    width: 130px;
    height: 130px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;

    @include flex();
    justify-content: center;
    align-items: center;
    
    border: 1px solid #dbdee6;
    border-radius: 50%;
    background-color: #ffffff;
    margin-bottom: 10px;
}

.numbers__icon--1,
.numbers__icon--4,
.numbers__icon--5,
.numbers__icon--6 {
    font-size: 80px;
    line-height: 18px;
}

.numbers__icon--2 {
    font-size: 54px;
}

.numbers__icon--3 {
    font-size: 44px;

    flex-direction: column;
}

.numbers__item-text {
    color: #040d0d;
    // font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}

