.page-header {
  width: 100%;
  max-width: 100%;

  @include indent();
  // padding: 15px;
  @include flex();

  margin-bottom: 20px;

  @include media-tablet() {
    width: $tablet-width;
    justify-content: space-between;
  }

  @include media-max() {
    width: 100%;
    max-width: 100%;
  }
}


.page-header__block {
  @include indent();

  @include flex();
  flex-direction: column;
  margin-bottom: 15px;

  @include media-tablet() {
    max-width: 250px;
  }
}

.page-header__logo-container {
  // outline: 4px dashed teal;

  max-width: 138px;
}

.page-header__reg {
  // font-size: 13px;
  // line-height: 20px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  @include indent();
  padding: 0.5em 0;
  margin-bottom: 10px;

  & .page-header__reg-link {
    // display: block;
    // padding: 0;
    color: #4673ab;
    border-bottom: 1px dotted currentColor;
    text-decoration: none;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.8;
    }
  }
}

.page-header__logo {
  width: 138px;
  height: 42px;
  max-height: 25px;

  @include media-tablet() {
    // outline: 4px dashed crimson;
    // width: 197px;
    // height: 42px;
  }
}

// USER

.page-header__user-nav {
  // outline: 4px dashed teal;
  margin-left: auto;
  max-width: 110px;

  @include media-tablet() {
    // order: 3;
    margin-left: 0;
  }
}

.page-header__user-top {
  @include indent();
  @include flex();
  padding-top: 10px;
  margin-bottom: 15px;

  @include media-tablet() {
    // margin-bottom: 15px;
  }
}

.page-header__user-container {
  @include indent();
  @include flex();
  padding-left: 20px;
  justify-content: space-around;
}

.page-header__user-bottom {
  display: none;

  @include media-tablet() {
    @include indent();
    // @include flex();
  }
}

.page-header__user-link {
  display: block;
  // padding: 0;
  color: #4673ab;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }
}

.page-header__user-search {
  font-size: 0;
  width: 22px;
  height: 22px;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }
}

.page-header__cart {
  font-size: 0;
  width: 22px;
  height: 22px;

  @include media-tablet() {
    // width: 195px;
    // height: 52px;
    // background-image: url("../../img/tablet/cart-bg.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
  }
}

.page-header__login {
  // display: none;

  @include media-tablet() {
    // display: block;
    // min-width: 250px;
  }
}


// CONTACTS

.page-header__contacts {
  flex-direction: row;
  justify-content: space-between;
  flex: auto;
  width: 100%;
  max-width: 100%;
  // outline: 4px dashed green;

  @include media-tablet() {
    // order: 2;
    // flex-direction: column;
  }
}

.page-header__contacts-inner {
  @include indent();
  @include flex();
  flex-direction: column;
}

.page-header__contacts-link {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  // padding: 0.5em;
  color: #040d0d;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }
}

.page-header__contacts-tel {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin-bottom: 3px;
}

.page-header__contacts-mob {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;

  @include flex();
  align-items: center;
  
  & .page-header__contacts-icon {
    width: 16px;
    height: 18px;
    margin-right: 2px;

    background-repeat: no-repeat;
    background-position: center center;
  }

  & .page-header__contacts-icon--pur {
    background-image: url("../../img/mobile/phone-purple.png");
  }

  & .page-header__contacts-icon--grn {
    // background-image: url("../../img/mobile/phone-green.png");
  }
}

.page-header__contacts-email {
  color: #4673ab;
  text-decoration: underline;
}

.page-header__contacts-skype {
  position: relative;
  padding-left: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 25%;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url("../../img/mobile/skype.png");
    background-repeat: no-repeat;
    background-position: center center;
  }
}


.page-header__favorites,
.page-header__compare {
  position: relative;
  color: #363c3e;
}


.page-header__search {
  display: none;

  @include media-max() {
      @include indent();
      // @include flex();

      background-color: hotpink;
  }
}

.page-header__search-container {
  display: none;

  @include media-max() {
      @include indent();
      @include flex();
      flex-direction: column;
  }
}