.page-main {
    @include indent();
    width: 100%;
    max-width: 100%;
}

.page-main__title {
    display: block;
    color: #000000;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;

    margin-bottom: 30px;
}