.page-footer {
    @include indent();
    width: 100%;
    max-width: 100%;
    @include flex();
    flex-direction: column;
    color: #c8d4dc;

    // outline: 4px dashed crimson;

    @include media-tablet() {
        // min-height: 300px;
        // flex-direction: row;
    }
}

.page-footer__content {
    @include indent();
    // padding: 15px;
    @include flex();
    background-color: #778899;

    @include media-tablet() {
        // outline: 4px dashed crimson;
        // justify-content: space-evenly;
    }
}

.page-footer__flex {
    @include indent();
    @include flex();
    flex-direction: column;

    // outline: 2px dashed crimson;

    @include media-tablet() {
        // max-width: 25%;
    }
}

// logo

.page-footer__flex-logo {
    // outline: 2px dashed crimson;
    max-width: 55%;
    flex: auto;
}

.page-footer__logo {
    outline: 3px dashed crimson;
    margin-bottom: 20px;
}


// nav

.page-footer__nav-lsit {
    // outline: 4px dashed crimson;

    @include indent();
    @include flex();
    flex-direction: column;
    @include list();
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;

    @include media-tablet() {
        // order: 2;
    }
}

.page-footer__nav-item {
    @include indent();
    border-bottom: 2px solid #ffffff;

    @include media-tablet() {
        // border-bottom: none;
    }
}

.page-footer__nav-link {
    position: relative;
    @include indent();
    display: block;
    padding: 0 10px;

    width: 100%;
    max-width: 100%;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 30px;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.8;
    }

    &::after {
        content: "";
        position: absolute;
        top: 35%;
        left: 90%;
        width: 4px;
        height: 4px;
        background-color: transparent;
        border-top: 3px solid #ffffff;
        border-right: 3px solid #ffffff;
        transform: rotate(45deg);
    }

    @include media-tablet() {
        // padding: 0;
    }
}


// contacts

.page-footer__contacts {
    // outline: 3px dashed teal;
    max-width: 45%;
    flex: auto;
    align-items: flex-end;
    justify-content: space-between;

    @include media-tablet() {
        // order: 4;
    }
}


.page-footer__contacts-inner {
    @include indent();
    @include flex();
    flex-direction: column;
}

.page-footer__contacts-link {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    text-align: right;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.8;
    }
    
}

.page-footer__contacts-tel {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    // letter-spacing: 0.5px;
    margin-bottom: 3px;
}

.page-footer__contacts-mob {
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
  
    @include flex();
    align-items: center;

    & .page-footer__contacts-icon {
       width: 16px;
       height: 18px;
       margin-right: 2px;
       background-repeat: no-repeat;
       background-position: center center;
    }

    & .page-footer__contacts-icon--pur {
        background-image: url("../../img/mobile/phone-purple.png");
      }
    
      & .page-footer__contacts-icon--grn {
        // background-image: url("../../img/mobile/phone-green.png");
      }
}

.page-footer__contacts-email {
    text-decoration: underline;
}

.page-footer__contacts-skype {
    position: relative;
    outline: 2px dashed crimson;
    max-width: 100px;
    margin-left: auto;

    &::before {
      content: "";
      position: absolute;
      top: 25%;
      left: 0;
      width: 16px;
      height: 16px;
      background-image: url("../../img/mobile/skype.png");
      background-repeat: no-repeat;
      background-position: center center;
    }
}

.page-footer__copyright {
    max-width: 176px;
}

.page-footer__paragraph {
    @include indent();
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.7);
}

// social

.page-footer__social-list {
    @include indent();
    @include flex();
    @include list();

    max-width: 150px;
}

.page-footer__social-item {
    @include indent();
    width: 30px;
    height: 30px;
    margin: 5px;
    font-size: 0;

    &:first-of-type .page-footer__social-link {
        background-color: #191970;
    }

    &:nth-of-type(2) .page-footer__social-link {
        background-color: #4267B2;
    }

    &:nth-of-type(3) .page-footer__social-link {
        background-color: #1DA1F2;
    }
}

.page-footer__social-link {
    font-size: 0;
    text-decoration: none;
    width: 100%;
    height: 100%;
    @include flex();
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.8;
    }

    & svg {
        width: 60%;
        height: 60%;
    }
}

// adress

.page-footer__adress {
    display: none;
}


// bottom

.page-footer__bottom {
    @include indent();
    padding: 20px;
    width: 100%;
    max-width: 100%;
    @include flex();
    justify-content: center;
    align-items: center;

    // min-height: 110px;

    background-color: #2F4F4F;

    @include media-tablet() {
        justify-content: space-evenly;
    }
}

.page-footer__stats {
    @include indent();
    width: 88px;
    height: 31px;

    background-image: url("../../img/mobile/stats.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.page-footer__bottom-text {
   display: none;

  @include media-tablet() {
    //   max-width: 589px;
    //   display: block;
    //   color: #c8d4dc;
    //   font-family: 'Roboto', Arial, Helvetica, sans-serif;
    //   font-size: 11px;
    //   font-weight: 300;
    //   line-height: 18px;
  }
}