.popular {
    display: none;

    @include media-tablet() {
        // outline: 2px dashed purple;
        @include indent();
        width: 100%;
        max-width: 100%;
        @include flex();
        flex-direction: column;
        margin-bottom: 40px;
    }
}

.popular__title {
    // outline: 4px dashed purple;
    margin-bottom: 50px;
}

.popular__list {
    @include indent();
    @include flex();
    @include list();
    justify-content: space-around;

    width: 100%;
    max-width: 100%;
}

.popular__item {
    @include indent();
    @include flex();
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 192px;
    // outline: 2px dashed hotpink;
}

.popular__list .popular__item:last-of-type {
    @include media-tablet() {
        display: none;
    }
}

.popular__img-container {
    @include indent();
    @include flex();
    // flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 170px;

    // outline: 4px dashed skyblue;
}

.popular__img {
    display: block;
    margin-bottom: 10px;
}

.popular__item-title {
    @include indent();
    // display: block;
    color: $link-color;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: underline;
    margin-bottom: 20px;

    margin-top: auto;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }
}