.slider__wrapper {
    @include indent();
    min-width: 65px;

    @include media-max() {
        display: none;
    }
}

.slider__arrows {
    @include indent();
    @include flex();
    justify-content: space-between;
    min-width: 65px;
}

.slider__arrow-btn {
    position: relative;
    border: none;
    box-shadow: 0 none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background-color: transparent;
    cursor: pointer;

    &:hover,
    &:focus {
      border: 2px solid $brand-color;
    }

    &:active {
      opacity: 0.8;
    }

    &::after {
        content: "";
        position: absolute;
        top: 25%;
        width: 8px;
        height: 8px;
        background-color: transparent;
        border-top: 3px solid $brand-color;
    }
}

.slider__arrow-prev {
    &::after {
        left: 40%;
        border-left: 3px solid $brand-color;
        transform: rotate(-45deg);
    }
}

.slider__arrow-next {
    &::after {
        left: 20%;
        border-right: 3px solid $brand-color;
        transform: rotate(45deg);
    }
}