.wrapper {
  width: 100%;
  max-width: 100%;
  min-width: $mobile-width;
  @include indent();
  padding: 0 10px;
  @include flex();
  height: auto;

  // background-color: pink;

  @include media-tablet() {
    // background-color: skyblue;
  }

  @include media-desktop() {
    // background-color: skyblue;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
  }

  @include media-max() {
    // outline: 1px dashed crimson;
    max-width: $max-desktop-width;
    padding: 0;
  }
}
