.wrapper {
  width: 100%;
  max-width: 100%;
  min-width: $mobile-width;
  @include indent();
  padding: 0 10px;
  @include flex();
  height: auto;

  @include media-desktop() {
    max-width: $desktop-width;
    margin-right: auto;
    margin-left: auto;
  }

  @include media-max() {
    width: $max-desktop-width;
    max-width: $max-desktop-width;
  }
}
