.wrapper {
  width: 100%;
  // width: $mobile-width;
  max-width: 100%;
  min-width: $mobile-width;
  @include indent();
  padding: 0 10px;
  margin-right: auto;
  margin-left: auto;
  @include flex();
  height: auto;

  @include media-tablet() {
    // width: $tablet-width;
  }

  @include media-desktop() {
    // width: $desktop-width;
    padding: 0 15px;
  }

  @include media-max() {
    outline: 1px dashed crimson;
    max-width: $max-desktop-width;
    padding: 0;
  }
}
